:root {
  /* primary colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* neutral colors */
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  height: 100vh;
  background-color: var(--very-dark-blue-main);
  color: var(--soft-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
    color: var(--cyan);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* Card container  */

.card-container {
  width: 22rem;
  padding: 1.5rem;
  background-color: var(--very-dark-blue-card);
  border-radius: 1rem;
}

/* Card body image starts */

.card-container .nft-image img {
  border-radius: 0.5rem;
}

/* Card body info starts  */

.card-body-info {
  margin-top: 1.3rem;
}

.card-container .nft-name {
  font-size: 1.35rem;
  font-weight: 600;
}


.card-container .nft-description {
  font-size: 1.15rem;
  font-weight: 300;
  margin: 1rem 0;
}

.card-container .ntf-price-info p {
  margin-left: 0.35rem;
  font-weight: 400;
}

.card-container .ntf-price-info .cyan {
  margin-left: rem;
  color: var(--cyan);
  font-weight: 600;
}

.card-container .ntf-price-info li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-container .ntf-price-info img {
  display: inline;
  margin-left: -2.3rem;
}

.card-container .line {
  display: flex;
  background-color: var(--white);
  width: auto;
  border-bottom: 0.0625rem solid var(--very-dark-blue-line);

  margin-top: 1.2rem;
}

/* Card body creator info starts */
.creator-info {
  display: flex;
  align-items: center;
  margin: 1.1rem 0 0.5rem 0;
}

.creator-info img {
  width: 2rem;
  border: 1.5px solid var(--white);
  border-radius: 50%;
}

.creator-info .creator-name-info {
  margin-left: 1rem;
}
.creator-info .creator-name-info .creator-name {
  margin-left: 0.2rem;
}

@media (max-width: 375px) {
  .card-container {
    flex-wrap: wrap;
    scroll-behavior: auto;
    overflow: hidden;
  }
}
